  <h1>The List</h1>
        <ul> 
            <% @todos.each do |todo| %>
            <li> 
                <input type="checkbox"> 
                <span class="todo"><a href="show/<%= todo.id %>"> <%= todo.description %> <%= todo.day %></a>
                </span>
            </li>
            <% end %>
        <!--<li> 
               <input type="checkbox"> 
               <span class="todo"><a href="show/2">Do something else Friday</a></span> 
            </li>
            
            <li>
               <input type="checkbox"> 
               <span class="todo"><a href="show/3">Another one Saturday</a></span>
            </li>
            
            <li>
                <input type="checkbox"> 
                <span class="todo"><a href="show/4">Another one Saturday</a></span>
            </li>
            -->
        </ul>
        <a href="/todo/new">Add a New Todo</a>
        <a href="show.html">Show</a>