<h2>Add new todo...</h2>
<form action="/todo/create">
        <h1 id="show-h1">Adding Screen</h1>
        <a href="index.html"> Back to List </a>
        <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Add a New Todo">
        <input class="text-input" id="new-day" name="day" type="text" placeholder="Add a New Date">
        <input type="submit"></input>
</form>
